*{ /*Wild-Card*/
    box-sizing: border-box;

    font-family: "Tahoma", sans-serif;

}

h1{
    text-align: center;
}

.container{
    width:80%;
    /*border: 1px solid black;*/  
    margin: 0 auto; /*Means 12 and 6*/
}

.left_container{
    float: left;
    width: 50%;
    /* border: 1px solid red; */
    padding: 10px;
}

.right_container{
    float: left;
    width: 50%;
    /* border: 1px solid blue; */
    padding: 10px;
}

.buttom_container{
    /* border: 1px solid greenyellow; */
    padding: 10px;
}

.clearfloat{
    clear: both;
}

.Buttom_Left_Container{
    width: 25%;
    border: 1px solid black;

}

.Buttom_Center_Container{
    border: 1px solid black;
    width: 50%;
}

.Buttom_Right_Container{
    border: 1px solid black;
    width: 25%;
}